<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="off" monitorInterval="1800">
    <properties>
        <property name="LOG_HOME">logs</property>
        <property name="FILE_NAME">calculator</property>
    </properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!--<ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>-->
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %msg %logger{36} %n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>